
html,body {
    height:100%
}
body {
    font-family: 'Helvetica',sans-serif;
    color: rgb(80,80,80);
}

.bulle {
    position: fixed;
    background-size: contain;
    right: 1vh;
    bottom: 1vh;
    background-color:  rgb(181,53,172);
    border-radius: 100%;
    padding: 3vh;

}
.bulle img {
    width: 40px ;
}

.heading {
    width: 100%;
    background: url(../gallery/header.png) ;
    background-size: cover;
    background-position: bottom;
}
.heading .layer {
    width: 100%;
    height: 90vh;

    background : linear-gradient(to bottom ,rgba(181,53,172,0.35)5%,rgba(103, 150, 210, 0.23));

    display: flex;
    justify-content: center;
    align-items: center;
}
.heading .layer .barre_menu {
    position: absolute;
    width:100%;
    top : 0;
    left : 0;
    padding: 1.5vh 3vh;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.heading .layer .barre_menu #logo {
    width:45px;
}
.heading .layer .barre_menu #menu_desktop li{
    display: inline-block;
    color: white;
}
.heading .layer .barre_menu #menu_mobile  {
    display:none;
}
.heading .layer h1#texte_header {
    color: rgba(255, 255, 255, 0.7);
    font-size: 20vh;
}
.heading .layer .barre_menu #menu_desktop li a{
  color: inherit;
  text-decoration: none;
}
.heading .layer .barre_menu #menu_desktop li a:hover{
  text-decoration: underline;
}
@media screen and (max-width:800px) {
    .heading .layer .barre_menu #menu_mobile  {
        display: flex !important;

    }
    .heading .layer .barre_menu #menu_desktop  {
        display: none;
    }
    .heading .layer .barre_menu #menu-mobile img {
        width:20px;
        padding-left: 3vh;
    }
}

.main {
}
.container {
    width : 80%;
    margin: auto;
   }
.container hr {
    height : 5px;
    width : 200px;
    background-color: rgba(240,230,140,0.7);
    margin: 15px auto 10px auto;
    border-style: none;

}
.container h2 {
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    font-size: 30px;
}
.col-s-12, .col-m-6 {
    margin: 10px auto;
}
.article {
    background-color: white;
    margin: 20px 10px ;
    display: flex;
    flex-wrap: wrap;
}

.article div:nth-child(1) {
margin-left: 20px;
text-decoration: underline;
}

.article div:nth-child(3) {
  background-color:  rgb(181,53,172);
  border-radius: 20%;
  padding: 15px 25px;
  color: white;
  width : auto;
  margin-left: auto;
  margin-bottom: 20px;
  margin-right: 20px;
}

.article div a {
  color: inherit;
  text-decoration: none;
}
.article div a:hover {
  text-decoration: underline;
}
